* {
  font-family: sans-serif;
}

.App {
  display: flex;
}

.calculator-wrapper {
  margin: 50px auto;
  padding: 20px 20px 5px 20px;
  border: 3px solid red;
}

form p {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 700;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  font-weight: 700;
  margin: 0px 10px 10px 0;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

.attribution {
  text-align: center;
  margin-top: 30px;
}